<%= render "shared/visiter_header" %>

<div class='search-guides'>
  <%= form_tag guidances_path, method: :get do %>
    <div id="select-wrap">
      <%= select_tag :surf_point_id, options_from_collection_for_select(@mainsurf_points, "id", "name", params[:surf_point_id]), include_blank: "---", id: "parent-category" %>
    </div>
    <%= submit_tag '検索' %>
  <% end %>
</div>

<div class='search-result'>
  <% @guidances.each do |guidance| %>
      <div class="posted-guide">
        <%= guidance.guide.name %><br>
        <%= link_to '詳細', 'hoge'%>
      </div>
  <% end %>
</div>