<%= render "shared/visiter_header" %>

<div class='search-guides'>
  <%= search_form_for @q, url: guidances_path do |f| %>
    <div id="select-wrap">
      <%= f.label :surf_point_id_eq, 'サーフポイント' %>
      <br>
      <%= f.collection_select(:surf_point_id_eq, SurfPoint.all.order("id ASC").limit(3), :id, :name, {include_blank: "---"},{id: "parent-category" }) %>
    </div>
    <%= f.submit '検索' %>
  <% end %>
</div>

<div class='search-result'>
  <% @guidance.each do |guidance| %>
      <div class="posted-guide">
        <%= guidance.guide.name %><br>
        <%= image_tag guidance.guide.image if guidance.guide.image.attached? %><br>
        <%= link_to '詳細', 'hoge'%>
      </div>
  <% end %>
</div>