<%= render "shared/visiter_header" %>

<div class='search-guides'>
  <%= search_form_for @q, url: guidances_path do |f| %>
    <div id="select-wrap">
      <%= f.collection_select(:surf_point_id_eq, @mainsurf_points, :id, :name, {include_blank: "---"}, {id: "parent-category" }) %>
    </div>
    <%= f.submit '検索' %>
  <% end %>
</div>

<div class='search-result'>
  <% @guidances.each do |guidance| %>
      <div class="posted-guide">
        <%= guidance.guide.name %><br>
        <%= link_to '詳細', 'hoge'%>
      </div>
  <% end %>
</div>