<header class="header">
  <div class="inner">
    <div class="nav">
      <div class="nav__left">
        <%= link_to "SURF GUIDE", root_path , class: :logo %>
      </div>
      <% if guide_signed_in? %>
        <div class="nav__right">
            <%= link_to "ログアウト", destroy_guide_session_path, data: { turbo_method: :delete }, class: :nav__logout %>
            <%= link_to "ガイド開始", 'hoge', class: :nav__btn %>
        </div>
      <% else %>
        <div class="nav__right">
          <%= link_to "ログイン", new_guide_session_path, class: :nav__btn %>
          <%= link_to "新規登録", new_guide_registration_path, class: :nav__btn %>
        </div>
      <% end %>
    </div>
  </div>
</header>