<!DOCTYPE html>
<html>
  <head>
    <title>SurfGuide</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    
    <%= yield %>

    <footer class="footer">
      <p class="copyright">Copyright © SURF GUIDE All rights reserved.</p>
    </footer>
  </body>
</html>
